.top-header .logo {
    position: relative;
    width: 200px;
    padding-right: 20px;
}

.top-header .nav-link {
    color: white;
    font-family: "Bahnschrift", serif;
}

.top-header .nav-link:hover {
    background-color: white;
    color: black;
}

.search-bar {
    position: relative;
}

.search-bar .search-button {
    position: absolute;
    right: 2px;
    top: 4px;
    border: none;
    background: none;
}

.search-button .search-icon {
    position: relative;
    width: 25px;
}

.carousel-text {
    font-family: "Bahnschrift", serif;
}

.carousel-button {
    background-color: #ffc107;
    color: black;
    border: none;
}

.carousel-button:hover {
    background-color: #ffca43;
}

.carousel-item {
    background-color: #404040;
}

.active-navbar-item {
    background-color: #5e5e5e;
}

.input-search::placeholder {
    font-size: 12px;
}

.news-background {
    background-color: #212529;
    color: white;
}

.card-scale:hover {
    transform: scale(105%);
}

.no-decoration-text {
    text-decoration: none;
}

